<div class="bg">
  <input class="search" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search Comment">
  <div class="posts" *ngFor="let comment of comments | search:searchText; let i = index;">
    <div class="post">{{ comment.comment }}
      <button class="remove-btn" (click)="removeComment(i)">x</button>
    </div>
    <div class="subBg">
      <div *ngIf="comment.subcomments.length">
        <div class="subPosts" *ngFor="let subComment of comment.subcomments;let j = index;">
          <div class="subPost">{{ subComment }}
            <button class="remove-btn" (click)="removeSubComment(i, j)">x</button>
          </div>
        </div>
      </div>
      <textarea class="subTextarea" rows="3" [(ngModel)]="comment.subcomments[j]"></textarea>
      <div>
        <button class="submit-btn" (click)="addSubComment(comment.subcomments[j], i); comment.subcomments[j] = ''">submit</button>
      </div>
    </div>
  </div>
  <div>
    <textarea class="textarea" rows="3" [(ngModel)]="value"></textarea>
  </div>
  <div>
    <button class="add-btn submit-btn" (click)="addComment(value)">submit</button>
  </div>
</div>

<router-outlet></router-outlet>